name: Reusable Slack Notification

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
      color:
        required: false
        type: string
        default: "#36a64f"
      channel:
        required: false
        type: string
        default: "C09R47WGPMW"

jobs:
  send_slack:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-type: application/json' \
            --data '{
              "channel": "${{ inputs.channel }}",
              "attachments": [
                {
                  "color": "${{ inputs.color }}",
                  "blocks": [
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": "${{ inputs.message }}"
                      }
                    }
                  ]
                }
              ]
            }' "$SLACK_WEBHOOK_URL"
